{% extends 'base.html'%}

{% block content %}
    <div class="container">
        <div>  
            <nav aria-label="breadcrumb" class="my-4">
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Página Inicial</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detalhes de boleto</li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div class="col-md-12 py-4">
                <h1>Detalhes do Boleto</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h2>{{values.username}}</h2>
                        <p><span><strong>Nome:</strong>  {{ values.nome_razaosocial }}</span></p>
                        <p><span><strong>CPF/CNPJ: </strong> 
                            {% if values.cpf %} 
                                {{ values.cpf }} 
                            {% else %}
                                {{ values.cnpj }}
                        
                            {% endif %}
                        </span></p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h2>Usuários</h2>
                    <ul class="list-group">
                      {% for conexao in  conexoes %}
                        <li class="list-group-item">{{conexao.username}}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="py-4">Log de acesso</h2>
                        <div class="table-responsive">

                        <table class="table table-success table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>Início</th>
                                    <th>Fim</th>
                                    <th>Bytes/Entrada</th>
                                    <th>Bytes/Saída</th>
                                </tr>
                            </thead>       
                            <tbody>
                                {% for conexao in conexoes %}
                                    <tr>
                                        <td>{{ conexao.acctstartdate|date:"d/m/Y" }}</td>
                                        <td>{{ conexao.acctstopdate|date:"d/m/Y"  }}</td>
                                        <td>{{ conexao.acctinputoctets }}</td>
                                        <td>{{ conexao.acctoutputoctets }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>         
                            <tfoot>

                            </tfoot>           
                        </table>
                    </div>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
          {% if conexoes.has_other_pages %}
            <ul class="pagination">
              {% if conexoes.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{conexoes.previous_page_number}}&username={{values.username}}&inicio_conexao={{values.inicio_conexao}}&fim_conexao={{values.fim_conexao}}&nome_razaosocial={{values.nome_razaosocial}}&cpf={{ values.cpf }}&cnpj={{ values.cnpj }}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" >&laquo;</a>
                </li>
              {% endif %}

              {% for i in conexoes.paginator.page_range %}
                {% if conexoes.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}&username={{values.username}}&inicio_conexao={{values.inicio_conexao}}&fim_conexao={{values.fim_conexao}}&nome_razaosocial={{values.nome_razaosocial}}&cpf={{ values.cpf }}&cnpj={{ values.cnpj }}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}           
              
             {% if conexoes.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{conexoes.next_page_number}}&username={{values.username}}&inicio_conexao={{values.inicio_conexao}}&fim_conexao={{values.fim_conexao}}&nome_razaosocial={{values.nome_razaosocial}}&cpf={{ values.cpf }}&cnpj={{ values.cnpj }}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}

        </div>
      </div>
      <div class="offset"></div>
{% endblock %}