{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div>


    <nav aria-label="breadcrumb" class="my-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pesquisar Boletos</li>
      </ol>
    </nav>
  </div>
    <div class="row text-center">
      <div class="col-md-12 my-4">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">Pesquisar Boletos Gerados</h2>
            <form action="{% url 'bol_search' %}">
              <!-- Form Row 1 -->
              <div class="form-row ">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Número</label>
                  <input 
                    type="text" 
                    name="numero" 
                    class="form-control" 
                    placeholder="Número do boleto"
                    value="{{values.numero}}"
                    >
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Cliente</label>
                  <input 
                    type="text" 
                    name="cliente" 
                    class="form-control" 
                    placeholder="Nome do cliente"
                    value="{{values.cliente}}"
                    >
                </div>

                <!-- <div class="col-md-3 mb-3">
                  <label class="sr-only">Usuário</label>
                  <input 
                    type="text" 
                    name="username" 
                    class="form-control" 
                    placeholder="Nome do usuário"
                    value="{{values.username}}"
                    >
                </div> -->
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Liquidado</label>
                  <select name="liquidado" class="form-control">                    
                    <option  value="S" {% if values.liquidado == "S" %}  selected {% endif %}>Liquidado</option>                
                    <option value="N" {% if not values.liquidado or values.liquidado == "N" %} selected{% endif %}>Em aberto</option>              
                  </select>
                </div>

              </div>

              <div class="form-row">
                <div class="col-md-4 mb-3 form-group text-left">                    
                  <input 
                    type="radio" 
                    checked 
                    name="cpfcnpj" 
                    onchange="" 
                    id="cpfcnpj"
                    onclick="javascript:$('#cpfcnpj_wrapper').load('/conexoescpf')"
                    > Pessoa Física   | 
                  <input 
                    type="radio" 
                    name="cpfcnpj" 
                    onchange="" 
                    id=""
                    onclick="javascript:$('#cpfcnpj_wrapper').load('/conexoescnpj')"
                    > Pessoa Jurídica    |           
                  <label for="cpf_cnpj">CPF/CNPJ</label>
                  <span id="cpfcnpj_wrapper">
                  <input                       
                    class="form-control" 
                    id="cpf_cnpj"
                    name="cpf_cnpj"
                    placeholder="000.000.000-00"
                    size="16" 
                    type="text" 
                    value="{{values.cpf_cnpj}}"           
                    
                    >      
                  </span>     
                            
              </div>
                  <div class="col-md-4 mb-3 form-group text-left">                    
                      <label for="init-date">Data inicial</label>
                      <input                       
                        class="form-control" 
                        id="init-date"
                        name="data_inicial"
                        size="16" 
                        type="date" 
                        value="{{values.data_inicial}}">                 
                  </div>

                    <div class="col-md-4 mb-3 form-group text-left">                      
                      <label>Data Final</label>
                      <input                       
                        class="form-control" 
                        size="16" 
                        type="date" 
                        name="data_final"
                        value="{{values.data_final}}">            
                    </div>
              
              </div>
              
              
              <button class="btn btn-secondary btn-block mt-4" type="submit">Pesquisar</button>
            </form>
          </div>
        </div>
      </div>
    </div>


    {% for boleto in boletos %}
                    <div class="row my-2">
                        <div class="col-md-12 ">
                            <div class="card">

                              <div class="row">
                                <div class="col-md-6">
                                  <div class="card-body">
                                      <h4 class="card-subtitle text-muted">{{ boleto.cd_fatura.cd_pessoa.nome_razaosocial }}</h4>
                                       
                                      <p>CPF/CNPJ: {% if boleto.cd_fatura.cd_pessoa.cpf %}                                     
                                                        {{boleto.cd_fatura.cd_pessoa.cpf}}</p>    
                                                    {% else %}
                                                        {{boleto.cd_fatura.cd_pessoa.cnpj}}</p> 
                                                    {% endif %}          
                                      <p>Nosso Número: {{ boleto.nosso_numero_formatado }}</p>     


                                      
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="card-body">
                                    <p>Vencimento: {{ boleto.cd_fatura.data_vencimento|date:"d/m/Y"}}</p>
                                    <p>Liquidado: {{boleto.cd_fatura.liquidado}}</p>  
                                    <form class="float-right pb-4" action="{% url 'bdetails' %}">
                                      <button type="submit" class="btn btn-primary ">Detalhes (Logs)</button>
                                      <input type="hidden" name="vencimento" value="{{ boleto.vencimento_dt_normal|date:"d/m/Y" }}">
                                      <input type="hidden" name="bcodgeracao" value="{{ boleto.codgeracao }}">                                    
                                      <input type="hidden" name="nome_razaosocial" value="{{ boleto.cd_fatura.cd_pessoa.nome_razaosocial}}">
                                      <input type="hidden" name="cpf" value="{{ boleto.cd_fatura.cd_pessoa.cpf}}">
                                      <input type="hidden" name="cnpj" value="{{ boleto.cd_fatura.cd_pessoa.cnpj }}">
                                    </form> 
                                  </div>
                                </div>

                              </div>

                        </div>
                    </div>
                    </div>
                {% endfor %}


  </div>


  <!-- Pagination -->

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% if boletos.has_other_pages %}
          <ul class="pagination">
            {% if boletos.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{boletos.previous_page_number}}&numero={{values.numero}}&cliente={{values.cliente}}&liquidado={{values.liquidado}}&cpf_cnpj={{values.cpf_cnpj}}&data_inicial={{values.data_inicial}}&data_final={{values.data_final}}">&laquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" >&laquo;</a>
              </li>
            {% endif %}
  
            {% for i in boletos.paginator.page_range %}
              {% if boletos.number == i %}
                <li class="page-item active">
                  <a class="page-link">{{ i }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ i }}&numero={{values.numero}}&cliente={{values.cliente}}&liquidado={{values.liquidado}}&cpf_cnpj={{values.cpf_cnpj}}&data_inicial={{values.data_inicial}}&data_final={{values.data_final}}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}           
            
           {% if boletos.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{boletos.next_page_number}}&numero={{values.numero}}&cliente={{values.cliente}}&liquidado={{values.liquidado}}&cpf_cnpj={{values.cpf_cnpj}}&data_inicial={{values.data_inicial}}&data_final={{values.data_final}}">&raquo;</a>
              </li>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
            {% endif %}
          </ul>
        {% endif %}
  
      </div>
    </div>
  </div>


  <!-- End Pagination -->
  <div class="offset"></div>
{% endblock %}