{% extends 'base.html'%}

{% block content %}
<div class="container">
  <div>


    <nav aria-label="breadcrumb" class="my-4">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Página Inicial</a></li>
        <li class="breadcrumb-item active" aria-current="page">Pesquisar Conexões</li>
      </ol>
    </nav>
  </div>

    <div class="row ">
      <div class="col-md-12 my-4">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title h3">Pesquisar Conexões </h2>
            <form action="{% url 'con_search' %}" >
              <!-- Form Row 1 -->
              <div class="form-row ">
                <div class="col-md-3 mb-3">
                    <label class="sr-only">Cidade</label>
                    <select 
                      name="cidade" 
                      class="form-control"
                      onchange="javascript:$('#bairros').load('conexoes'+this.value)"
                      >
                      <option  value="">Cidade</option>
                      {% if values.cidade %}
                        <option value="{{values.cidade}}" selected>{{choices.cidade.cidade}}</option>
                      {% endif %}

                      {% for cidade in cidades %}      
                          <option value="{{ cidade.codcidade }}"  
                          {% if cidade.codcidade  == values.cidade %}selected{% endif %}>{{cidade.cidade}}</option>
                      {% endfor %}
                    </select>
                  </div>


                <div class="col-md-3 mb-3">
                  <label class="sr-only">Bairro</label>
                  <select name="bairro" id="bairros" class="form-control">
                    <option  value="" >Bairro</option>
                    {% if values.bairro %}
                        <option value="{{values.bairro}}" selected>{{choices.bairro.bairro}}</option>
                    {% endif %}

                    {% for bairro in bairros %}      
                        <option value="{{ bairro.codbairro }}"  
                        {% if bairro.codbairro == values.bairro %}selected{% endif %}>{{bairro.bairro}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-3 mb-3">                    
                  <label class="sr-only">Usuário</label>
                  <input 
                    type="text" 
                    name="username" 
                    value="{{ values.username }}"
                    class="form-control" 
                    placeholder="Nome do usuário"                          
                    >                      
                </div>
                <div class="col-md-3 mb-3">
                  <label class="sr-only">Nome do Cliente</label>
                  <input 
                    type="text" 
                    name="cliente" 
                    value="{{ values.cliente }}"
                    class="form-control" 
                    placeholder="Nome do cliente"                          
                    >  
                </div>                      

              </div>    

              
              <div class="form-row">
                <div class="col-md-4 mb-3 form-group text-left">     
                  <input 
                    type="radio" 
                    checked 
                    name="cpfcnpj" 
                    onchange="" 
                    id="cpfcnpj"
                    onclick="javascript:$('#cpfcnpj_wrapper').load('/conexoescpf')"
                    > Pessoa Física   | 
                  <input 
                    type="radio" 
                    name="cpfcnpj" 
                    onchange="" 
                    id=""
                    onclick="javascript:$('#cpfcnpj_wrapper').load('/conexoescnpj')"
                    > Pessoa Jurídica    |           
                  <label for="cpf_cnpj">CPF/CNPJ</label>
                  <span id="cpfcnpj_wrapper">
                  <input                       
                    class="form-control" 
                    id="cpf_cnpj"
                    name="cpf_cnpj"
                    placeholder="000.000.000-00"
                    size="16" 
                    type="text" 
                    value="{{values.cpf_cnpj}}"           
                    
                    >      
                  </span>        
              </div>
                  <div class="col-md-4 mb-3 form-group text-left">                    
                      <label for="init-date">Data inicial</label>
                      <input                       
                        class="form-control" 
                        id="init-date"
                        name="data_inicial"
                        size="16" 
                        type="date" 
                        value="{{values.data_inicial}}">                 
                  </div>

                    <div class="col-md-4 mb-3 form-group text-left">                      
                      <label>Data Final</label>
                      <input                       
                        class="form-control" 
                        size="16" 
                        type="date" 
                        name="data_final"
                        value="{{values.data_final}}">            
                    </div>
              
              </div>
         
              <button class="btn btn-secondary btn-block mt-4" type="submit">Pesquisar</button>
            </form>
          </div>
        </div>
</div>

</div>
            <!-- <div class="container"> -->
              
              
              
              
              <!-- <p>{{values}}</p> -->



                {% for conexao in conexoes %}
                    <div class="row my-2">
                        <div class="col-md-12 ">
                            <div class="card">
                              <div class="row">
                                <div class="col-md-6">

                                  <div class="card-body">
                                      <h3 class="card-title h4">
                                          {{ conexao.mkconn_user }}
                                      </h3>
                                      <h4 class="card-subtitle text-muted">{{ conexao.mkconn_user__codcliente__nome_razaosocial }}</h4>
                                        
                                      
                                    <!-- <p class="card-text">
                                      Início da conexão: {{ conexao.acctstartdate }}                                    
                                    </p>
                                    <p class="card-text">
                                      Fim da conexão: {{ conexao.acctstopdate }}                                  
                                    </p> -->
                                    
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="card-body">
                                    <p>CPF/CNPJ: {% if conexao.mkconn_user__codcliente__cpf %}                                     
                                      {{ conexao.mkconn_user__codcliente__cpf }}</p>    
                                  {% else %}
                                      {{ conexao.mkconn_user__codcliente__cnpj }}</p> 
                                  {% endif %}
                                    <p class="card-text">
                                      {{ conexao.mkconn_user__codcliente__codcidade__cidade }}, {{ conexao.mkconn_user__codcliente__codbairro__bairro }}
                                    </p>
                                    <form class="float-right  pb-4" action="{% url 'details' %}">
                                      <button type="submit"  class="btn btn-primary">Detalhes (Logs)</button>
                                      <input type="hidden" name="inicio_conexao" value="{{ values.data_inicial }}">
                                      <input type="hidden" name="fim_conexao" value="{{ values.data_final }}">
                                      <input type="hidden" name="username" value="{{ conexao.mkconn_user }}">
                                      <input type="hidden" name="nome_razaosocial" value="{{ conexao.mkconn_user__codcliente__nome_razaosocial}}">
                                      <input type="hidden" name="cpf" value="{{ conexao.mkconn_user__codcliente__cpf}}">
                                      <input type="hidden" name="cnpj" value="{{ conexao.mkconn_user__codcliente__cnpj }}">
                                    </form>
                                  </div>
                                </div>


                                
                              </div>

                            </div>



                        </div>
                    </div>
                   
                {% endfor %}
            <!-- </div> -->

       

      </div>

    <br>

   
    <div class="row">
        <div class="col-md-12">
          {% if conexoes.has_other_pages %}
            <ul class="pagination">
              {% if conexoes.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{conexoes.previous_page_number}}&cidade={{values.cidade}}&bairro={{values.bairro}}&suspenso={{values.suspenso}}&username={{values.username}}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" >&laquo;</a>
                </li>
              {% endif %}

              {% for i in conexoes.paginator.page_range %}
                {% if conexoes.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}&cidade={{values.cidade}}&bairro={{values.bairro}}&suspenso={{values.suspenso}}&username={{values.username}}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}           
              
             {% if conexoes.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{conexoes.next_page_number}}&cidade={{values.cidade}}&bairro={{values.bairro}}&suspenso={{values.suspenso}}&username={{values.username}}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}

        </div>
      </div>
      <div class="offset"></div>
      
      
{% endblock %}