{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div class="row ">
      <div class="col-md-12 my-4">
          <div class="card text-center">
            <div class="card-body">
              <h2 class="card-title">Pesquisar Conexões </h2>
            <form action="{% url 'con_search' %}" >
              <!-- Form Row 1 -->
              <div class="form-row ">
                <div class="col-md-4 mb-3">
                    <label class="sr-only">Cidade</label>
                    <select name="cidade" class="form-control">
                      <option  value="">Cidade</option>
                      {% if values.cidade %}
                        <option value="{{values.cidade}}" selected>{{choices.cidade.cidade}}</option>
                      {% endif %}

                      {% for cidade in cidades %}      
                          <option value="{{ cidade.codcidade }}"  
                          {% if cidade.codcidade  == values.cidade %}selected{% endif %}>{{cidade.cidade}}</option>
                      {% endfor %}
                    </select>
                  </div>


                <div class="col-md-4 mb-3">
                  <label class="sr-only">Bairro</label>
                  <select name="bairro" class="form-control">
                    <option  value="" >Bairro</option>
                    {% if values.cidade %}
                        <option value="{{values.bairro}}" selected>{{choices.bairro.bairro}}</option>
                    {% endif %}

                    {% for bairro in bairros %}      
                        <option value="{{ bairro.codbairro }}"  
                        {% if bairro.codbairro == values.bairro %}selected{% endif %}>{{bairro.bairro}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Contrato suspenso</label>
                  <select name="suspenso" class="form-control">
                    <option selected="true" value="">Contrato suspenso</option>
                    <option  value="S" {% if 'S' == values.suspenso %}selected{% endif %}>Sim</option>
                    <option value="N"  {% if 'N' == values.suspenso %}selected{% endif %}>Não</option>
                   
                  </select>
                </div>     

                

              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">                    
                        <label class="sr-only">Usuário</label>
                        <input 
                          type="text" 
                          name="username" 
                          value="{{ values.username }}"
                          class="form-control" 
                          placeholder="Pesquisar pelo nome do usuário"                          
                          >                      
                </div>
                <div class="col-md-6 mb-3">
                    
                </div>
              </div>
              
              <button class="btn btn-secondary btn-block mt-4" type="submit">Pesquisar</button>
            </form>
          </div>
        </div>
</div>

</div>
            <!-- <div class="container"> -->
              
              
              
              
              <!-- <p>{{values}}</p> -->



                {% for conexao in conexoes %}
                    <div class="row my-2">
                        <div class="col-md-12 ">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title">
                                        {{ conexao.username }}
                                    </h3>
                                    <h4 class="card-subtitle text-muted">{{ conexao.codcliente.nome_razaosocial }}</h4>
                                    <p class="card-text">
                                       {{ conexao.codcliente.codcidade.cidade }}
                                    </p>
                                    <p class="card-text">
                                      {{ conexao.codcliente.codbairro.bairro }}
                                   </p>
                                </div>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            <!-- </div> -->

       

      </div>

    <br>

   
    <div class="row">
        <div class="col-md-12">
          {% if conexoes.has_other_pages %}
            <ul class="pagination">
              {% if conexoes.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{conexoes.previous_page_number}}&cidade={{values.cidade}}&bairro={{values.bairro}}&suspenso={{values.suspenso}}&username={{values.username}}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" >&laquo;</a>
                </li>
              {% endif %}

              {% for i in conexoes.paginator.page_range %}
                {% if conexoes.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{ i }}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ i }}&cidade={{values.cidade}}&bairro={{values.bairro}}&suspenso={{values.suspenso}}&username={{values.username}}">{{ i }}</a>
                  </li>
                {% endif %}
              {% endfor %}           
              
             {% if conexoes.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{conexoes.next_page_number}}&cidade={{values.cidade}}&bairro={{values.bairro}}&suspenso={{values.suspenso}}&username={{values.username}}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}

        </div>
      </div>
      <div class="offset"></div>
{% endblock %}